*{
	margin:0;
	padding: 0;
}
body{
	background-color: #FDFDFA;
	font-family: 'Titillium Web', sans-serif;
}
header{
	background:url(../images/fondo.header.png);
	padding: 2em;	
}

.tweet__title{
	color: #C70039;
	text-align: center;
	font-weight:bold;
}

.tweet__fila{
	margin-top: 2em;
}

.tweet__cajform{
	border-radius: 5px;
	border:1px solid #EAECEC;
	padding: 1em;
}

.tweet__publicaciones{
	margin-top: 2em;
}

@media screen and (min-width: 570px){
	
	.tweet__publicaciones{
	margin-top: 0;
	}


}

.tweet__cajpubli{
	margin-bottom: 1em;
}


.tweet__cajpubli{
	border-radius: 5px;
	border:1px solid #EBEFEE;
	padding: 1em;
}

.tweet__fotperfil{
	width: 180px;
	margin-bottom:1em;
	padding: 0.5em;
}

.tweet__cajpubli-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	padding: 0.5em;
	border:1px solid  #F29F9F  ;
}
.tweet__cajpubli-opinion{
	border-top:1px solid #EBEFEE;
	padding-top: 1em;
}
.tweet__cajpubli-grupoicon{
	border-top:1px solid #EBEFEE;
}
.tweet__cajpubli-icono{
	text-align: center;
	font-size: 1.5em;
	margin:1em 0;
	padding-right: 0.5em: 
	color:#fff;
}

.tweet__like--rojo{
	color:#E21512;
}

.tweet__cajpubli-grupoicon--azul{
	color:#08B0D9;
}
